In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import psycopg2
import csv

In [2]:
survey_df = pd.read_csv('survey_data.csv')
text_df = pd.read_csv('text_message_data.csv')
turnout_df = pd.read_csv('turnout_data.csv')
universe_df = pd.read_csv('universe.csv')

In [3]:
survey_df['support_smith'] = survey_df['support_smith'].convert_dtypes()
survey_df['environment_thermometer'] = survey_df['environment_thermometer'].convert_dtypes()

survey_df.to_csv('survey_data_nanfix.csv', index=False, na_rep='NA')
display(survey_df.head(10))
display(survey_df.info())

,phone_number,attempted,attempts,disposition,support_smith,environment_thermometer
0,4102533400,True,1,1,0,5
1,4103375604,True,1,0,<NA>,<NA>
2,4106196906,True,2,1,0,7
3,4105982410,True,1,1,1,7
4,4108920128,True,2,1,0,4
5,4109957322,True,1,1,1,8
6,4107822727,True,1,1,1,5
7,4106263491,True,1,1,1,9
8,4102242639,True,1,1,1,7
9,4103506833,True,1,1,0,5

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6925 entries, 0 to 6924
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   phone_number             6925 non-null   int64
 1   attempted                6925 non-null   bool
 2   attempts                 6925 non-null   int64
 3   disposition              6925 non-null   int64
 4   support_smith            4684 non-null   Int64
 5   environment_thermometer  4905 non-null   Int64
dtypes: Int64(2), bool(1), int64(3)
memory usage: 290.9 KB

None

In [25]:
survey_df[survey_df['disposition'] == 0]['environment_thermometer'].unique()

<IntegerArray>
[<NA>]
Length: 1, dtype: Int64

In [4]:
display(text_df.head(10))
display(text_df.info())

,phone_number,message_direction,message_text
0,4102232802,outbound,"Hey this is Daniel from VoteReminder, wanted t..."
1,4105795833,outbound,"Hey this is Daniel from VoteReminder, wanted t..."
2,4108097041,outbound,"Hey this is Daniel from VoteReminder, wanted t..."
3,4102330789,outbound,"Hey this is Daniel from VoteReminder, wanted t..."
4,4103853827,outbound,"Hey this is Daniel from VoteReminder, wanted t..."
5,4109477711,outbound,"Hey this is Daniel from VoteReminder, wanted t..."
6,4108772978,outbound,"Hey this is Daniel from VoteReminder, wanted t..."
7,4109214760,outbound,"Hey this is Daniel from VoteReminder, wanted t..."
8,4101410094,outbound,"Hey this is Daniel from VoteReminder, wanted t..."
9,4106166741,outbound,"Hey this is Daniel from VoteReminder, wanted t..."

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29906 entries, 0 to 29905
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   phone_number       29906 non-null  int64
 1   message_direction  29906 non-null  object
 2   message_text       29906 non-null  object
dtypes: int64(1), object(2)
memory usage: 701.0+ KB

None

In [5]:
turnout_df.drop_duplicates(inplace=True)
turnout_df.to_csv('turnout_data_dedup.csv', index=False)
display(turnout_df.head(10))
display(turnout_df.info())

                        StateFileID  turnout2020
0  f4129a9409fa8c4428f0eefa1ab326d6            1
1  e19d6a2e31912b7f68c262c7e7c7af4a            1
2  eb8ab04d155ce929a6498647e0b4ea42            1
3  ac56cddc5254d08cbbbff7cfcf58cb3d            0
4  585fdff74a32e9c3180cd9c6c1ac46bb            0
5  34373831c557e58f4ca9435fd43518c5            1
6  6c507dc9efb56148fe0c0caf13165359            1
7  baee8637f4e39de1a3bc7c54fcbe7786            0
8  ead6dd44b043e3043aa0d0d667b4356f            0
9  9893652e55d8d38fdf10f5ad7f0a806b            0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25000 entries, 0 to 24999
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   StateFileID  25000 non-null  object
 1   turnout2020  25000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 585.9+ KB

None

In [6]:
display(universe_df.head(10))
display(universe_df.info())

,StateFileID,gender,last_name,phone_number,race,age,marital_status,first_name
0,103ffb722c0fa4047958b316f24ebf5f,female,Aagesen,4108214106,white,61,unmarried,Kelsey
1,0cd0722a7680561ed603e805e8de56f5,male,Aamodt,4107875048,white,23,married,Daniel
2,307f5f8db1f51bd3badd11a59ff4616a,female,Aaron,4105118224,white,50,unmarried,Tara
3,588f45d9709a0c9626718de728e9edcd,male,Abadie,4106063486,white,36,married,Matthew
4,bf625f7a063eba3373a8efa23e47ff1d,male,Abadie,4106535363,white,28,separated,Rudee
5,256039c71578dc0e1726572c26a2cf3e,female,Abarca,4107273707,hispanic,44,married,Brittany
6,840f157cbdf05757bc7fd6fdadc951b4,male,Abayou,4101895154,black,72,married,Elek
7,80e16bbcc331832a35a97169772aadd5,female,Abbey,4107516360,white,30,married,Marguerite
8,696fffd1858cc71f42b314d8e097ac78,male,Abbott,4106575772,white,58,separated,Jordan
9,824cacb56bb68690b292612726c9bd3d,male,Abbott,4102463791,white,62,married,Gregory

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   StateFileID     25000 non-null  object
 1   gender          25000 non-null  object
 2   last_name       25000 non-null  object
 3   phone_number    25000 non-null  int64
 4   race            25000 non-null  object
 5   age             25000 non-null  int64
 6   marital_status  25000 non-null  object
 7   first_name      25000 non-null  object
dtypes: int64(2), object(6)
memory usage: 1.5+ MB

None

In [7]:
universe_df[universe_df['StateFileID'].duplicated(keep=False)]

Empty DataFrame
Columns: [StateFileID, gender, last_name, phone_number, race, age, marital_status, first_name]
Index: []

In [8]:
table_names = {'survey_data': 'survey_data_nanfix', 
               'text_message_data': 'text_message_data', 
               'turnout_data': 'turnout_data_dedup', 
               'universe': 'universe'}

In [11]:
# Connect to an existing database
conn = psycopg2.connect(host="localhost",
                        database="uwd",
                        user="postgres",
                        password="postgres")

# Open a cursor to perform database operations
cur = conn.cursor()

table_creation = (
    """
    DROP TABLE IF EXISTS universe;
    CREATE TABLE universe (
        StateFileID VARCHAR(255) PRIMARY KEY,
        gender VARCHAR(255),
        last_name VARCHAR(255),
        phone_number BIGINT,
        race VARCHAR(255),
        age INTEGER,
        marital_status VARCHAR(255),
        first_name VARCHAR(255));
        """, 
    """
    DROP TABLE IF EXISTS turnout_data;
    CREATE TABLE turnout_data (
        StateFileID VARCHAR(255) PRIMARY KEY,
        turnout2020 INTEGER);    
        """,
    """
    DROP TABLE IF EXISTS text_message_data;
    CREATE TABLE text_message_data (
        phone_number BIGINT,
        message_direction VARCHAR(255),
        message_text VARCHAR(255));
        """,
    """
    DROP TABLE IF EXISTS survey_data;
    CREATE TABLE survey_data (
        phone_number BIGINT,
        attempted BOOLEAN,
        attempts INTEGER,
        disposition INTEGER,
        support_smith INTEGER,
        environment_thermometer INTEGER);
        """
)

# create table one by one
for command in table_creation:
    cur.execute(command)
# close communication with the PostgreSQL database server
cur.close()
# commit the changes
conn.commit()

conn.close()

In [12]:
# Pass data to fill a query placeholders and let Psycopg perform
# the correct conversion (no more SQL injections!)
conn = psycopg2.connect(host="localhost",
                        database="uwd",
                        user="postgres",
                        password="postgres")

for table in table_names.keys():
    cur = conn.cursor()
    copy_sql = f"""
           COPY {table} FROM stdin WITH 
           CSV HEADER
           DELIMITER as ','
           NULL as 'NA'
           """
    with open(f"{table_names[table]}.csv", 'r') as f:
        cur.copy_expert(sql=copy_sql, file=f)
        conn.commit()
        cur.close()

# Close communication with the database
conn.close()

In [30]:
# Civis data upload
conn = psycopg2.connect(host="localhost",
                        database="uwd",
                        user="postgres",
                        password="postgres")
cur = conn.cursor()

query = """
        SELECT u.StateFileID as "StateFileID", 
               u.first_name as "First Name", null as "Middle Name", u.last_name as "Last Name", 
               null as "Address", null as "City", null as "State", null as "Zip", 
               u.phone_number as "Home Phone", u.phone_number as "Cell Phone", null as "Date of Birth",
               CASE WHEN u.gender = 'female' THEN 'F'
                    WHEN u.gender = 'male' THEN 'M'
                    ELSE null END as "Gender (only available as binary)", 
               CASE WHEN text.phone_number is null THEN False
                    ELSE True END as sent_text, 
               CASE WHEN s.disposition = 1 THEN True
                    ELSE False END as surveyed_by_phone, 
               s.support_smith, turnout.turnout2020 as voted
        FROM universe u
        LEFT JOIN (SELECT DISTINCT phone_number
                   FROM text_message_data 
                   WHERE message_direction = 'outbound') text
        ON u.phone_number = text.phone_number
        LEFT JOIN (SELECT phone_number, disposition, support_smith
                   FROM survey_data) s
        ON u.phone_number = s.phone_number
        LEFT JOIN turnout_data turnout
        ON u.StateFileID = turnout.StateFileID
        ;
        """

cur.execute(query)
rows = cur.fetchall()
colnames = [desc[0] for desc in cur.description]

with open('civis_upload.csv','w') as out:
    csv_out=csv.writer(out)
    csv_out.writerow(colnames)
    csv_out.writerows(rows)

# output_df = pd.DataFrame(rows, columns=colnames)
# output_df.to_csv('civis_upload.csv')

# print("The number of parts: ", cur.rowcount)
# print(colnames)
# for row in rows[:100]:
#     print(row)

cur.close()
conn.close()

The number of parts:  25000
['StateFileID', 'First Name', 'Middle Name', 'Last Name', 'Address', 'City', 'State', 'Zip', 'Home Phone', 'Cell Phone', 'Date of Birth', 'Gender (only available as binary)', 'sent_text', 'surveyed_by_phone', 'support_smith', 'voted']
('103ffb722c0fa4047958b316f24ebf5f', 'Kelsey', None, 'Aagesen', None, None, None, None, 4108214106, 4108214106, None, 'F', False, False, None, 0)
('0cd0722a7680561ed603e805e8de56f5', 'Daniel', None, 'Aamodt', None, None, None, None, 4107875048, 4107875048, None, 'M', False, False, None, 0)
('307f5f8db1f51bd3badd11a59ff4616a', 'Tara', None, 'Aaron', None, None, None, None, 4105118224, 4105118224, None, 'F', False, True, None, 1)
('588f45d9709a0c9626718de728e9edcd', 'Matthew', None, 'Abadie', None, None, None, None, 4106063486, 4106063486, None, 'M', False, False, None, 0)
('bf625f7a063eba3373a8efa23e47ff1d', 'Rudee', None, 'Abadie', None, None, None, None, 4106535363, 4106535363, None, 'M', True, True, 1, 1)
('256039c71578dc0e1726572c26a2cf3e', 'Brittany', None, 'Abarca', None, None, None, None, 4107273707, 4107273707, None, 'F', True, False, None, 0)
('840f157cbdf05757bc7fd6fdadc951b4', 'Elek', None, 'Abayou', None, None, None, None, 4101895154, 4101895154, None, 'M', False, False, None, 1)
('80e16bbcc331832a35a97169772aadd5', 'Marguerite', None, 'Abbey', None, None, None, None, 4107516360, 4107516360, None, 'F', True, False, None, 0)
('696fffd1858cc71f42b314d8e097ac78', 'Jordan', None, 'Abbott', None, None, None, None, 4106575772, 4106575772, None, 'M', True, False, None, 0)
('824cacb56bb68690b292612726c9bd3d', 'Gregory', None, 'Abbott', None, None, None, None, 4102463791, 4102463791, None, 'M', True, False, None, 0)
('9dd3338ae039485690df27bdc83237f8', 'Sean', None, 'Abbott', None, None, None, None, 4108741816, 4108741816, None, 'M', False, True, None, 1)
('a5f039c4373d2a43c183c0bd5b278a9f', 'Luke', None, 'Abbott', None, None, None, None, 4103981729, 4103981729, None, 'M', True, False, None, 0)
('acc77773bdc271a8191d58a9248f8fc7', 'Samantha', None, 'Abbott', None, None, None, None, 4107912166, 4107912166, None, 'F', True, False, None, 0)
('d55080d69f5c573ec668c80b036f92ad', 'Sydney', None, 'Abbott', None, None, None, None, 41095463, 41095463, None, 'F', False, False, None, 0)
('d6398d64baa60132cdf7ae232b77fa4b', 'Jonathan', None, 'Abbott', None, None, None, None, 4108503079, 4108503079, None, 'M', True, False, None, 0)
('f1efdcfafd84ef8e62d5ff5bd670e464', 'Johnathan', None, 'Abbott', None, None, None, None, 4103132672, 4103132672, None, 'M', False, False, None, 1)
('1d19f8e2554a0e7f0c5fd8fc132621ec', 'Mark', None, 'Abby', None, None, None, None, 4109251221, 4109251221, None, 'M', True, False, None, 0)
('1a31a0a4264f9267a9c6a98007ca2644', 'Nya', None, 'Abdalla', None, None, None, None, 4106158157, 4106158157, None, 'F', True, False, None, 1)
('0c2d591b91040d532f58f4c5b4dac6cf', 'Kendell', None, 'Abdel-Hafiz', None, None, None, None, 4100414896, 4100414896, None, 'M', False, True, 0, 1)
('c65446ba5461f261644798be10967655', 'Rashawnda', None, 'Abdelgadir', None, None, None, None, 4102594827, 4102594827, None, 'F', True, False, None, 1)
('a4cd991c16d278a150a5029be42295e1', 'Jason', None, 'Abdelmawla', None, None, None, None, 4102677669, 4102677669, None, 'M', True, True, 1, 0)
('3baf7738d4c0e55d93cd5a89bb119f41', 'Ashley', None, 'Abdelsaied', None, None, None, None, 4100295997, 4100295997, None, 'F', True, False, None, 0)
('ba30ee50912df4fd4621f0037fd4390a', 'Michael', None, 'Abdi', None, None, None, None, 4102776340, 4102776340, None, 'M', False, False, None, 1)
('e0fcf394497b19084e1bb7a41b8a382d', 'Kendyll', None, 'Abdi', None, None, None, None, 4105239361, 4105239361, None, 'F', False, False, None, 0)
('00e3e8fa5f146874d3040d8391f8ba9b', 'Jordan', None, 'Abdou', None, None, None, None, 4102419123, 4102419123, None, 'F', False, False, None, 1)
('0a1b15d0dad25112f3865d5183afcb64', 'Haley', None, 'Abdullah', None, None, None, None, 4100479209, 4100479209, None, 'F', False, True, 1, 1)
('40b3c16ea40d29dcc64d236eb80dee97', 'Thezlanikka', None, 'Abdullah', None, None, None, None, 4109446123, 4109446123, None, 'F', False, False, None, 0)
('5df175d4777ff5a552a4bd39c7a6c946', 'Janethia', None, 'Abdullah', None, None, None, None, 4106375040, 4106375040, None, 'F', False, True, 0, 0)
('d69db7e6310f269ceb7eb101f063c3f6', 'Erika', None, 'Abdullah', None, None, None, None, 4109815839, 4109815839, None, 'F', True, False, None, 0)
('70213698cf37559edb4f97731cbaf8e5', 'Brianna', None, 'Abdurahman', None, None, None, None, 4101655331, 4101655331, None, 'F', False, False, None, 0)
('fac7a56db188d8d1c89aa25fb25902ce', 'Haley', None, 'Abele', None, None, None, None, 4101295808, 4101295808, None, 'F', True, False, None, 1)
('831461ff9cbca20cddc668cf4d13b159', 'Clarence', None, 'Abell-Payne', None, None, None, None, 4101769833, 4101769833, None, 'M', True, True, 0, 0)
('c2796948966df1d02db031f48058d706', 'Tara', None, 'Abell-Payne', None, None, None, None, 4101977441, 4101977441, None, 'F', True, False, None, 0)
('5899f3175a0452360b703d11706aa333', 'Gienry', None, 'Abenes', None, None, None, None, 4109532368, 4109532368, None, 'M', False, False, None, 0)
('2673fad2cfadcb6ccae77aedca9763e7', 'Clay', None, 'Abercrombie', None, None, None, None, 4102596652, 4102596652, None, 'M', False, False, None, 0)
('007c7e13e48c59514aeb34999c27e1ae', 'Jeff', None, 'Abernathy', None, None, None, None, 4107477330, 4107477330, None, 'M', True, False, None, 1)
('b1182329bdf5847d18fb6ef2603e3f09', 'Emmaline', None, 'Abernathy', None, None, None, None, 4106340119, 4106340119, None, 'F', False, True, 1, 1)
('2698d66c7c6d745cf099d101f0e5f34b', 'Juan', None, 'Abeyta', None, None, None, None, 4108018391, 4108018391, None, 'M', True, False, None, 0)
('52f05d631a45ab607c3d83ed77724a23', 'Tomas', None, 'Abeyta', None, None, None, None, 4102667007, 4102667007, None, 'M', False, False, None, 1)
('6c960909498aa37bf325fdc3cc1cdbe8', 'Deangelo', None, 'Abeyta', None, None, None, None, 4103580510, 4103580510, None, 'M', True, False, None, 1)
('ae02643d499769aeae532cc524c5a5b3', 'Christen', None, 'Abeyta', None, None, None, None, 4106803141, 4106803141, None, 'F', True, False, None, 0)
('b2057943e2a30e1961fd1151b2c28cf4', 'Tynisha', None, 'Abeyta', None, None, None, None, 4104679803, 4104679803, None, 'F', True, True, 1, 0)
('b5fde1cfc5d2ef0d2c6c73c5eb57b948', 'Demi', None, 'Abeyta', None, None, None, None, 4105400562, 4105400562, None, 'F', True, False, None, 0)
('d6e3c5ddfe23a83670f9d453b42719c0', 'Valeria', None, 'Abeyta', None, None, None, None, 4100694749, 4100694749, None, 'F', False, False, None, 1)
('15828ff33bd847682db2f52c62d4c3ff', 'Miriah', None, 'Abila', None, None, None, None, 4102950489, 4102950489, None, 'F', False, False, None, 1)
('47934adf4d3849bce92de3563f916e52', 'Maeselle', None, 'Ablan', None, None, None, None, 4106569047, 4106569047, None, 'F', False, False, None, 0)
('dbc4d516537893680e4680bfa045ec28', 'Jessica', None, 'Ablan', None, None, None, None, 4102794222, 4102794222, None, 'F', False, False, None, 1)
('fe1dd68895953e1585eda71d5ff52b4b', 'Eun', None, 'Abo', None, None, None, None, 4107476729, 4107476729, None, 'F', False, False, None, 1)
('5542975378acbabe8438915b009d1455', 'Alexis', None, 'Abou Ayache', None, None, None, None, 4101563834, 4101563834, None, 'F', False, False, None, 0)
('416114caae55c31c3bb5eae44d226681', 'Megan', None, 'Abraham', None, None, None, None, 4101659784, 4101659784, None, 'F', True, True, 1, 1)
('47941a4ae84fc6a23662839d3b10820f', 'Caitlin', None, 'Abraham', None, None, None, None, 4109340188, 4109340188, None, 'F', True, False, None, 0)
('85cec44938ea164e74b1b799d1c0720f', 'Nathaniel', None, 'Abraham', None, None, None, None, 4104136089, 4104136089, None, 'M', False, False, None, 0)
('f3554d8f7ce9db6dfa2587c6c39cecb5', 'Gregory', None, 'Abraham', None, None, None, None, 4100949286, 4100949286, None, 'M', False, True, 0, 0)
('95114d1d6b17f93c549c6090d6ef47c3', 'Lauren', None, 'Abrahamson', None, None, None, None, 4106542975, 4106542975, None, 'F', True, False, None, 0)
('17259915152806006b5b8ba025111147', 'Zechariah', None, 'Abrahamsson', None, None, None, None, 4102966211, 4102966211, None, 'M', False, True, 1, 1)
('2aef83e74f0364fc357d513de7545d2d', "J'Quan", None, 'Abram', None, None, None, None, 4107758713, 4107758713, None, 'M', True, False, None, 0)
('9a7a96140e9c175f4cea652f753406a6', 'Najuka', None, 'Abram', None, None, None, None, 4109817868, 4109817868, None, 'F', True, True, 1, 0)
('72d21d3e78a3a67af3638c2ce285f809', 'Glenn', None, 'Abrams-Brown', None, None, None, None, 4108403861, 4108403861, None, 'M', False, False, None, 1)
('eddd51a651f981352644d1f1759e0726', 'Rianne', None, 'Abrams-Hickman', None, None, None, None, 410478971, 410478971, None, 'F', False, False, None, 0)
('2b626cb8ba3c96d2f5e35f726afefdda', 'Gabriel', None, 'Abrego', None, None, None, None, 4107931766, 4107931766, None, 'M', False, False, None, 0)
('9cbbf190b87beb6f16125e6d600644dc', 'Raechalle', None, 'Abukar', None, None, None, None, 4101329547, 4101329547, None, 'F', True, False, None, 0)
('2d34bd5a145a6bf48097f5b9d9bbe508', 'Christina', None, 'Abundis', None, None, None, None, 4102837124, 4102837124, None, 'F', False, False, None, 0)
('40b9a287b7e40a4243ef11923176d051', 'Benjamin', None, 'Accomando', None, None, None, None, 4105497025, 4105497025, None, 'M', False, False, None, 0)
('f998854e61c45fc363d99885bdb811e6', 'John', None, 'Acers', None, None, None, None, 4109179783, 4109179783, None, 'M', True, True, 0, 1)
('69dcacd6117f0ab42f1b27fa5ba102b6', 'Levi', None, 'Acevedo', None, None, None, None, 4103261505, 4103261505, None, 'M', False, False, None, 0)
('e0c14749a434c96ecd96cda874c60764', 'Andrew', None, 'Acevedo', None, None, None, None, 4106011415, 4106011415, None, 'M', False, False, None, 0)
('e48b7a0f9c654b0e6f36e9092aea0100', 'Corrine', None, 'Acevedo', None, None, None, None, 4102292444, 4102292444, None, 'F', True, False, None, 0)
('0c9f031e1dbf446158e631776c43ce1f', 'Loren', None, 'Acevedo Salinas', None, None, None, None, 4109094549, 4109094549, None, 'F', False, False, None, 0)
('77621dd50fab302fec136a5972dbaa19', 'Deondrea', None, 'Aceves', None, None, None, None, 4100750573, 4100750573, None, 'F', True, False, None, 0)
('9123ed6651eb0c4825175e78288d6a80', 'Jennifer', None, 'Achondo', None, None, None, None, 410398373, 410398373, None, 'F', False, False, None, 1)
('b7e08abd2eb6af250d97e59a821bbba4', 'Julia', None, 'Achziger', None, None, None, None, 4109249998, 4109249998, None, 'F', False, False, None, 0)
('80e22440cf47f6172e6b18d03a3b04b2', 'Matthew', None, 'Acker', None, None, None, None, 4105180999, 4105180999, None, 'M', False, False, None, 1)
('32ba54cefdba9795ed51210c428f762f', 'Steven', None, 'Ackerman', None, None, None, None, 4103832962, 4103832962, None, 'M', True, False, None, 0)
('c794e472008caf00c184109e8b829104', 'Hannan', None, 'Ackerman', None, None, None, None, 4100444574, 4100444574, None, 'F', True, False, None, 1)
('1f2e9957ca12ca1b37d9fc4fd4eab82e', 'Christopher', None, 'Ackerson', None, None, None, None, 4107644832, 4107644832, None, 'M', True, True, 0, 0)
('75ce3d9c69aec9caf0b7ea9c315ad014', 'Kayden', None, 'Ackling', None, None, None, None, 4107017798, 4107017798, None, 'M', True, False, None, 0)
('ab235dc8033041c7c6b012fc1567c98f', 'Andrew', None, 'Ackman', None, None, None, None, 410147956, 410147956, None, 'M', False, False, None, 0)
('0441798fece49cf85cebc53f7b28ea58', 'Johnny', None, 'Acosta', None, None, None, None, 4107097524, 4107097524, None, 'M', True, False, None, 1)
('54cb8f3c79d8d03cc4ec1c7331af531c', 'Riley', None, 'Acosta', None, None, None, None, 4101682882, 4101682882, None, 'M', False, True, 0, 1)
('5f855f99ce52bc1cf36c69afa2071a6b', 'Brittany', None, 'Acosta', None, None, None, None, 4104644033, 4104644033, None, 'F', True, False, None, 1)
('a3f4b9d81aa76598f19bd7df968ee0af', 'Isaac', None, 'Acosta', None, None, None, None, 4103229607, 4103229607, None, 'M', True, False, None, 0)
('fe6a2b70096898bcb654a4d8b6f8ad99', 'Cody', None, 'Acosta', None, None, None, None, 4100641296, 4100641296, None, 'F', False, False, None, 0)
('3c450e3e55bd490a13c87c1464e9cf6d', 'Matheau', None, 'Acosta Pina', None, None, None, None, 4106940637, 4106940637, None, 'M', True, False, None, 1)
('864924c3c269e3b8b72d66e2deabe220', 'Ryan', None, 'Acosta-Orozco', None, None, None, None, 4107762812, 4107762812, None, 'M', True, True, 1, 1)
('41a710aecdc38e28b13182e030f940eb', 'Elizabeth', None, 'Acton', None, None, None, None, 4109583423, 4109583423, None, 'F', True, True, 1, 0)
('340b1a59343b154371542194512a8bd0', 'Briana', None, 'Acuna', None, None, None, None, 4100745004, 4100745004, None, 'F', False, False, None, 0)
('3fa95edd0b45d838bfe6ccdabd111037', 'Cheyenne', None, 'Acunto', None, None, None, None, 4106324705, 4106324705, None, 'M', True, False, None, 1)
('26d087cede3fe4dcead46416043fe15f', 'Cory', None, 'Adair', None, None, None, None, 4101455630, 4101455630, None, 'M', False, False, None, 0)
('f216e09555eee0c38f9070f2ceb966dd', 'Breaja', None, 'Adair', None, None, None, None, 4109919167, 4109919167, None, 'F', False, False, None, 0)
('575ece9f8492baab98852474a0bba059', 'Sabrina', None, 'Adam', None, None, None, None, 4107061525, 4107061525, None, 'F', False, False, None, 0)
('b06a4a1097108a8ffea608b4b731abdd', 'Rhamel', None, 'Adam', None, None, None, None, 4104323634, 4104323634, None, 'M', True, False, None, 0)
('e20a5ca876e6c8c7e598139898b5603b', 'Brittany', None, 'Adam', None, None, None, None, 4109085513, 4109085513, None, 'F', False, False, None, 0)
('f395ef095d44e7b9390b55e54a632ad1', 'Makayla', None, 'Adam', None, None, None, None, 4102227766, 4102227766, None, 'F', False, False, None, 0)
('39c4b9a7bf724a6388d6220e77a83f21', 'Apolonia', None, 'Adame', None, None, None, None, 4101645941, 4101645941, None, 'F', True, False, None, 0)
('3b2d3ca1d06447c2b139e4d6a7943356', 'Evin', None, 'Adame', None, None, None, None, 4105821658, 4105821658, None, 'M', False, False, None, 1)
('7c0eb2575d54f60a26434dcd19061422', 'Bernadette', None, 'Adame', None, None, None, None, 4103474248, 4103474248, None, 'F', True, True, 0, 1)
('06a737cb64a3420bfc1cb607dd4dbe7a', 'Dominique', None, 'Adams', None, None, None, None, 4100641657, 4100641657, None, 'F', False, True, 1, 1)
('13b6e559e5dc125fadc400cbe43e4fca', 'Ashleigh', None, 'Adams', None, None, None, None, 4107040173, 4107040173, None, 'F', True, False, None, 1)
('32b2b84677da936abe7f7f329ecc0c3d', 'Jazmine', None, 'Adams', None, None, None, None, 4103607159, 4103607159, None, 'F', False, False, None, 0)
('423ad2b69491d5c2b2d0a1c0600ca960', 'Gaige', None, 'Adams', None, None, None, None, 410170906, 410170906, None, 'M', False, False, None, 1)

In [15]:
# short report
conn = psycopg2.connect(host="localhost",
                        database="uwd",
                        user="postgres",
                        password="postgres")
cur = conn.cursor()

"""
Number of individuals who were sent a text message
Support rate among those we surveyed
Turnout rate among the universe
Race counts of the targeted universe
Age (bucketed ages 18 - 30, 31 - 45, 46 - 60, 61+) counts of the targeted universe
Gender counts of the targeted universe
"""

query = """
        SELECT u.StateFileID as state_file_id, 
               u.phone_number as phone
               CASE WHEN u.gender = 'female' THEN 'F'
                    WHEN u.gender = 'male' THEN 'M'
                    ELSE null END as gender, 
               CASE WHEN text.phone_number is null THEN False
                    ELSE True END as sent_text, 
               CASE WHEN s.disposition = 1 THEN True
                    ELSE False END as surveyed_by_phone, 
               s.support_smith, turnout.turnout2020 as voted
        FROM universe u
        LEFT JOIN (SELECT DISTINCT phone_number
                   FROM text_message_data 
                   WHERE message_direction = 'outbound') text
        ON u.phone_number = text.phone_number
        LEFT JOIN (SELECT phone_number, disposition, support_smith
                   FROM survey_data) s
        ON u.phone_number = s.phone_number
        LEFT JOIN turnout_data turnout
        ON u.StateFileID = turnout.StateFileID
        ;
        """

cur.execute(query)
rows = cur.fetchall()
print("The number of parts: ", cur.rowcount)
for row in rows:
    print(row)
cur.close()
conn.close()