In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import psycopg2

In [2]:
survey_df = pd.read_csv('survey_data.csv')
text_df = pd.read_csv('text_message_data.csv')
turnout_df = pd.read_csv('turnout_data.csv')
universe_df = pd.read_csv('universe.csv')

In [35]:
survey_df.to_csv('survey_data_nanfix.csv', index=False)
display(survey_df.head(10))
display(survey_df.info())

,phone_number,attempted,attempts,disposition,support_smith,environment_thermometer
0,4102533400,True,1,1,0.0,5.0
1,4103375604,True,1,0,NaN,NaN
2,4106196906,True,2,1,0.0,7.0
3,4105982410,True,1,1,1.0,7.0
4,4108920128,True,2,1,0.0,4.0
5,4109957322,True,1,1,1.0,8.0
6,4107822727,True,1,1,1.0,5.0
7,4106263491,True,1,1,1.0,9.0
8,4102242639,True,1,1,1.0,7.0
9,4103506833,True,1,1,0.0,5.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6925 entries, 0 to 6924
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   phone_number             6925 non-null   int64
 1   attempted                6925 non-null   bool
 2   attempts                 6925 non-null   int64
 3   disposition              6925 non-null   int64
 4   support_smith            4684 non-null   float64
 5   environment_thermometer  4905 non-null   float64
dtypes: bool(1), float64(2), int64(3)
memory usage: 277.4 KB

None

In [4]:
display(text_df.head(10))
display(text_df.info())

,phone_number,message_direction,message_text
0,4102232802,outbound,"Hey this is Daniel from VoteReminder, wanted t..."
1,4105795833,outbound,"Hey this is Daniel from VoteReminder, wanted t..."
2,4108097041,outbound,"Hey this is Daniel from VoteReminder, wanted t..."
3,4102330789,outbound,"Hey this is Daniel from VoteReminder, wanted t..."
4,4103853827,outbound,"Hey this is Daniel from VoteReminder, wanted t..."
5,4109477711,outbound,"Hey this is Daniel from VoteReminder, wanted t..."
6,4108772978,outbound,"Hey this is Daniel from VoteReminder, wanted t..."
7,4109214760,outbound,"Hey this is Daniel from VoteReminder, wanted t..."
8,4101410094,outbound,"Hey this is Daniel from VoteReminder, wanted t..."
9,4106166741,outbound,"Hey this is Daniel from VoteReminder, wanted t..."

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29906 entries, 0 to 29905
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   phone_number       29906 non-null  int64
 1   message_direction  29906 non-null  object
 2   message_text       29906 non-null  object
dtypes: int64(1), object(2)
memory usage: 701.0+ KB

None

In [6]:
turnout_df.drop_duplicates(inplace=True)
turnout_df.to_csv('turnout_data_dedup.csv', index=False)
display(turnout_df.head(10))
display(turnout_df.info())

                        StateFileID  turnout2020
0  f4129a9409fa8c4428f0eefa1ab326d6            1
1  e19d6a2e31912b7f68c262c7e7c7af4a            1
2  eb8ab04d155ce929a6498647e0b4ea42            1
3  ac56cddc5254d08cbbbff7cfcf58cb3d            0
4  585fdff74a32e9c3180cd9c6c1ac46bb            0
5  34373831c557e58f4ca9435fd43518c5            1
6  6c507dc9efb56148fe0c0caf13165359            1
7  baee8637f4e39de1a3bc7c54fcbe7786            0
8  ead6dd44b043e3043aa0d0d667b4356f            0
9  9893652e55d8d38fdf10f5ad7f0a806b            0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25205 entries, 0 to 25204
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   StateFileID  25205 non-null  object
 1   turnout2020  25205 non-null  int64
dtypes: int64(1), object(1)
memory usage: 394.0+ KB

None

In [7]:
display(universe_df.head(10))
display(universe_df.info())

,StateFileID,gender,last_name,phone_number,race,age,marital_status,first_name
0,103ffb722c0fa4047958b316f24ebf5f,female,Aagesen,4108214106,white,61,unmarried,Kelsey
1,0cd0722a7680561ed603e805e8de56f5,male,Aamodt,4107875048,white,23,married,Daniel
2,307f5f8db1f51bd3badd11a59ff4616a,female,Aaron,4105118224,white,50,unmarried,Tara
3,588f45d9709a0c9626718de728e9edcd,male,Abadie,4106063486,white,36,married,Matthew
4,bf625f7a063eba3373a8efa23e47ff1d,male,Abadie,4106535363,white,28,separated,Rudee
5,256039c71578dc0e1726572c26a2cf3e,female,Abarca,4107273707,hispanic,44,married,Brittany
6,840f157cbdf05757bc7fd6fdadc951b4,male,Abayou,4101895154,black,72,married,Elek
7,80e16bbcc331832a35a97169772aadd5,female,Abbey,4107516360,white,30,married,Marguerite
8,696fffd1858cc71f42b314d8e097ac78,male,Abbott,4106575772,white,58,separated,Jordan
9,824cacb56bb68690b292612726c9bd3d,male,Abbott,4102463791,white,62,married,Gregory

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   StateFileID     25000 non-null  object
 1   gender          25000 non-null  object
 2   last_name       25000 non-null  object
 3   phone_number    25000 non-null  int64
 4   race            25000 non-null  object
 5   age             25000 non-null  int64
 6   marital_status  25000 non-null  object
 7   first_name      25000 non-null  object
dtypes: int64(2), object(6)
memory usage: 1.5+ MB

None

In [8]:
universe_df[universe_df['StateFileID'].duplicated(keep=False)]

Empty DataFrame
Columns: [StateFileID, gender, last_name, phone_number, race, age, marital_status, first_name]
Index: []

In [9]:
table_names = ['survey_data_nanfix', 'text_message_data', 'turnout_data_dedup', 'universe']

In [28]:
# Connect to an existing database
conn = psycopg2.connect(host="localhost",
                        database="uwd",
                        user="postgres",
                        password="postgres")

# Open a cursor to perform database operations
cur = conn.cursor()

table_creation = (
    """
    DROP TABLE IF EXISTS universe;
    CREATE TABLE universe (
        StateFileID VARCHAR(255) PRIMARY KEY,
        gender VARCHAR(255),
        last_name VARCHAR(255),
        phone_number BIGINT,
        race VARCHAR(255),
        age INTEGER,
        marital_status VARCHAR(255),
        first_name VARCHAR(255));
        """, 
    """
    DROP TABLE IF EXISTS turnout_data;
    CREATE TABLE turnout_data (
        StateFileID VARCHAR(255) PRIMARY KEY,
        turnout2020 INTEGER);    
        """,
    """
    DROP TABLE IF EXISTS text_message_data;
    CREATE TABLE text_message_data (
        phone_number BIGINT,
        message_direction VARCHAR(255),
        message_text VARCHAR(255));
        """,
    """
    DROP TABLE IF EXISTS survey_data;
    CREATE TABLE survey_data (
        phone_number BIGINT,
        attempted BOOLEAN,
        attempts INTEGER,
        disposition INTEGER,
        support_smith INTEGER,
        environment_thermometer INTEGER;
        """
)

# create table one by one
for command in table_creation:
    cur.execute(command)
# close communication with the PostgreSQL database server
cur.close()
# commit the changes
conn.commit()

conn.close()

In [29]:
# Pass data to fill a query placeholders and let Psycopg perform
# the correct conversion (no more SQL injections!)
conn = psycopg2.connect(host="localhost",
                        database="uwd",
                        user="postgres",
                        password="postgres")

for table in table_names:
    cur = conn.cursor()
    copy_sql = f"""
           COPY {table} FROM stdin WITH 
           CSV HEADER
           DELIMITER as ','
           NULL as 'NA'
           """
    with open(f"{table}.csv", 'r') as f:
        cur.copy_expert(sql=copy_sql, file=f)
        conn.commit()
        cur.close()
    
# Query the database and obtain data as Python objects
cur.execute("SELECT * FROM survey_data;")
cur.fetchone()

# Make the changes to the database persistent
conn.commit()

# Close communication with the database
cur.close()
conn.close()

UniqueViolation: duplicate key value violates unique constraint "turnout_data_pkey"
DETAIL:  Key (statefileid)=(0c5f92285188b4d2f6dc1d63d0a5ec78) already exists.
CONTEXT:  COPY turnout_data, line 25002

In [ ]:
conn = psycopg2.connect("dbname=uwd user=postgres")
cur = conn.cursor()

query = """
        SELECT *
        FROM universe
        ;
        """

cur.execute(query)
rows = cur.fetchall()
print("The number of parts: ", cur.rowcount)
for row in rows:
    print(row)
cur.close()